%h1
  = @workout.user == current_user ? "Edit Personal Workout" : "Edit Workout for #{@workout.user.email}"
%p
  Please enter a Title and Due-Date for this workout, and enter any notes or instructions to be displayed along with the workout.
= render 'form'
= link_to 'Back', workouts_path
